@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.card {
  border: none;
}

.integration {
  font-size: 16px;
  font-weight: 500;
  color: #0d968d;
}

.improve {
  font-size: 13px;
  color: #99a0b0;
}

.btn1 {
  width: 90px;
  height: 28px;
  background-color: #c4c8d0;
  color: #7c8493;
  border: none;
  border-radius: 8px;
  transition: all 0.6s;
}

.google {
  font-size: 17px;
  font-weight: 700;
}

.btn1:hover {
  background-color: #0d968d;
  color: #b0dcda;
}

.text {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #0d968d;
}

.btn2 {
  background-color: #0d968d;
  border: none;
  height: 28px;
  width: 120px;
  color: #81c8c3;
  border-radius: 8px;
}
