<div class="card" style="width: 18rem;">
    {{#each customer}}
    <img class="card-img-top" src="..." alt="cái mặt tk khách hàng chỗ đây nè">
    <div class="card-body">
        <h5 class="card-title">{{1}} {{2}}</h5>
        <p class="card-text">Giới thiệu sương sương</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Mã khách hàng: {{0}}</li>
        <li class="list-group-item" type="date">Ngày sinh: {{3}}</li>
        <li class="list-group-item">Giới tính: {{4}}</li>
        <li class="list-group-item">Số điện thoại: {{5}}</li>
        <li class="list-group-item">Địa chỉ: {{6}}</li>
        <li class="list-group-item">Điểm tích lũy: {{7}}</li>
        <li class="list-group-item">Loại khách hàng: {{10}}</li>
        <li class="list-group-item">Ngày kích hoạt vip: {{11}}</li>
        <li class="list-group-item">Ngày hết hạn vip: {{12}}</li>
    </ul>
    {{/each}}
</div>