<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Họ và tên</th>
            <th scope="col">Mã khách hàng</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Điểm tích lũy</th>
            <th scope="col">Loại khách hàng</th>
            <th scope="col">Ngày kích hoạt vip</th>
            <th scope="col">Ngày hết hạn vip</th>
            <th scope="col">Email</th>

        </tr>
    </thead>
    {{#each customer}}
    <tbody>
        <tr>
            <th scope="row">{{1}} {{2}}</th>
            <td>{{0}}</td>
            <td>{{3}}</td>
            <td>{{4}}</td>
            <td>{{5}}</td>
            <td>{{6}}</td>
            <td>{{7}}</td>
            <td>{{11}}</td>
            <td>{{12}}</td>
            <td>{{13}}</td>
            <td>{{15}}</td>
        </tr>
    </tbody>
    {{/each}}
</table>