<link rel="stylesheet" href="/css/services.css">

<div  class="container">
    <div class="row">
        {{#each service}}
        <div class="col-2">
            <img class="card-img-top" src="{{4}}" alt="Card image cap" width="50px" height="100px">
            <div class="card-body">
                <h5 class="card-title">{{1}}</h5>
                <p class="card-text">{{3}}</p>
                <a href="#" class="btn btn-primary">{{2}}</a>
                <a href="#" class="btn btn-primary">Booking now</a>
                <a href="/service/{{0}}/edit" class="btn btn-link">Update</a>
                <a href=" " class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteRecord"
                    data-id={{0}}>Delete
                </a>
            </div>
        </div>
        {{/each}}

    </div>
</div>

{{!-- <div class="bg-dark vh-100 d-flex justify-content-center align-items-center">
    {{#each service}}
    <div class="container d-flex justify-content-center">
        
        <div class="card p-2">
            
            <div class="p-info px-3 py-3">
                <div>
                    <h5 class="mb-0 card-title">{{1}}</h5> <span></span>
                </div>
                <div class="p-price d-flex flex-row price"> <span></span>
                    <h1>{{2}}</h1>
                </div>
                <div class="heart"> <i class="bx bx-heart"></i> </div>
            </div>
            <div class="text-center p-image card-img"> <img src="{{4}}" alt="Card image cap" width="50px" height="100px"> </div>
            <div class="p-about card-text">
                <p>{{3}}</p>
            </div>
            <div class="buttons d-flex flex-row gap-4 px-4">
                 {{!-- <button class="btn btn-danger w-100">View</button>  --}}
                 <button class="btn btn-primary btn-outline-danger w-100">Booking Now</button> 
                 <a href="/service/{{0}}/edit" class="btn btn-link">Update</a>
                 <a href=" " class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteRecord"
                    data-id={{0}}>Delete
                </a>
            </div>
             
        </div>
       
    </div>
    {{/each}}
</div> --}}

{{!-- Delete Model --}}
<div class="modal fade" id="deleteRecord" tabindex="-1" aria-labelledby="deleteRecordLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteRecordLabel">Delete service</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to delete service?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-warning" id="btn-delete-service">Yes</button>
            </div>
        </div>
    </div>
</div>
{{!-- Delete hidden Form --}}
<form name="delete-service-form" method="POST" action=""></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let serviceId;
        let deleteForm = document.forms['delete-service-form'];
        let btnDeleteService = document.getElementById('btn-delete-service');

        // When dialog confirm clicked
        $('#deleteRecord').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            serviceId = button.data('id');
        });

        // When delete button clicked
        btnDeleteService.onclick = function () {
            deleteForm.action = '/service/' + serviceId + '?_method=DELETE';
            deleteForm.submit();
        };
    })
</script>