<div class="mt-4">
    <h3>Edit Service</h3>
    <form class="mt-4" method="POST" action="/service/{{0}}?_method=PUT">
        {{#each service}}

        <div class="form-group">
            <label for="date">Date : {{1}}</label>
        </div>

        <div class="form-group">
            <label for="time">Time : </label>

            <select name="time" id="time">
                <option value="-1" selected disabled hidden>{{2}}</option>
                {{/each}}
                {{#each timePeriod}}
                <option value="{{0}}">{{1}}</option>
                {{/each}}
            </select>

        </div>
        <div class="form-group">
            <label for="level">Level</label>
            <input type="text" class="form-control" value="Good Bye" id="level" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

</div>