<link rel="stylesheet" href="/css/product.css">
<div class="mt-4 ">
    <h3>Add Product Rating</h3>
    <form class="mt-4" method="POST" action="/productRating/?_method=PUT">
        <div>
            <label for="customerID">Mã khách hàng: </label><br>
            <input type="text" name="customerID" id="customerID" width="full"><br>
        </div>
        <div>
            <label for="productID">Mã sản phẩm: </label><br>
            <input type="text" name="productID" id="productID" width="full"><br>
        </div>
        <div>
            <label for="rateDay">Ngày đánh giá:</label><br>
            <input type="date" name="rateDay" id="rateDay" width="full"><br>
        </div>
        <div>
            <label for="ratePoint">Rate:</label><br>
            <select name="ratePoint" id="ratePoint" width="full">
                <option value="1" type="number">1⭐</option>
                <option value="2" type="number">2⭐</option>
                <option value="3" type="number">3⭐</option>
                <option value="4" type="number">4⭐</option>
                <option value="5" type="number">5⭐</option>
            </select>
        </div>
        <div>
            <label for="Comment">Đánh giá: </label><br>
            <textarea name="Comment" id="Comment" cols="100" rows="10"></textarea><br>
        </div>
        <div>
            <label for="Status">Nhập trạng thái: </label>
            <select name="Status" id="Status">
                <option value="1" type="number">1</option>
                <option value="0" type="number">0</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>