<form>
  <label for="nameproduct">Tên sản phẩm: </label><br>
  <input type="text" id="nameProduct" name="nameProduct"><br>
  <label for="TypeProduct">Tên loại sản phẩm: </label><br>
  <input type="text" id="TypeProduct" name="TypeProduct">
  <label for="Price">Giá: </label><br>
  <input type="number" id="Price" name="Price">
  <label for="Describe">Mô tả: </label><br>
  <input type="text" id="Describe" name="Describe">
  <label for="region">xuất xứ: </label><br>
  <input type="text" id="region" name="region">
</form>