<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Mã khách hàng</th>
            <th scope="col">Mã nhân viên</th>
            <th scope="col">Mã tài khoản</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
        </tr>
    </thead>
    {{#each account}}
    <tbody>
        <tr>
            <th scope="row">{{3}}</th>
            <th scope="row">{{4}}</th>
            <td>{{0}}</td>
            <td>{{1}}</td>
            <td>{{2}}</td>
        </tr>
    </tbody>
    {{/each}}
</table>