* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: black;
}

.container .service_head .title_service {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.container .service_head .subTitle {
    font-size: 15px;
}

.service_head {
    padding: 20px 0px 20px 0px;
}


.service_banner img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.service_list {
    margin-top: 20px;
}

.service_list .row .card .card-body {
    text-align: left;
    padding-top: -15px;
}   

.service_list .row .card{
    border-style: none; 
}

.service_list .row .card img {
    border-radius: 8px;
}

.service_list .row .col-xl-3 .card .card-body{
    margin-left: -10px;
}

.service_list .row .col-lg-4 .card .card-body{
    margin-left: -10px;
}



.service_list .row .card .card-body .card-title {
    font-size: 18px;
    font-weight: bold;
}

.service_list .row .card .card-body .card-text {
    font-size: 16px;
}