* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: black;
}

.container .service_head .title_service {
    font-size: 25px;
    font-weight: bold;
    color: black;
   
}

.container .service_head .subTitle {
    font-size: 15px;
}

.service_head {
    padding: 20px 0px 20px 0px;
}


.service_banner img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.service_list {
    margin-top: 20px;
}

.service_list .row .card .card-body {
    text-align: left;
    padding-top: -15px;
}   

.service_list .row .card{
    border-style: none; 
    
}

.service_list .row .card img {
    border-radius: 8px;
}

.service_list .row .col-xl-3 .card .card-body{
    margin-left: -10px;
}

.service_list .row .col-lg-4 .card .card-body{
    margin-left: -10px;
}



.service_list .row .card .card-body .card-title {
    font-size: 18px;
    font-weight: bold;
    color: black;
    
}

.service_list .row .card .card-body .card-text {
    font-size: 16px;
}

/* product */

.product_service  {
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-left: 380px;
    border-style: none;
    margin-bottom: 50px;
}

.product_service .list-group .list-group-item {
    border-style: none;
    width: 100%;
}

.product_banner {
    margin-top: 20px;
    margin-bottom: 10px;
}

.product_banner img {
    border-radius: 8px;
}

.product-cards-slider .product_head .title_product {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.product-cards-slider .product_head .subTitle {
    font-size: 15px;
}

.product_head {
    padding: 20px 0px 20px 0px;
}


.product-cards-slider .container{
    width: 100%;
}
.product-cards-slider .card {
    width: 270px;
    height: 425px;
    margin-left: -10px;
    margin-right: -10px;
}

.product-cards-slider .card-footer{
    border:none;
    text-align: center;
    background-color: white;
}

.product-cards-slider .card .card-body .image{
    margin: -10px;
}

.product-cards-slider .card .card-body .image img{
    max-width: 100%;
    transition: 0.5s;
}


.product-cards-slider .card .card-body .content h3{
    line-height: 1.5;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    height: 44.8px;
    margin-top: 20px;
    font-size: 15px;
}

.product-cards-slider .card .card-body .content .price{
    font-size: 18px;
    font-weight:bolder;
}

.product-cards-slider .card button {
    border: none;
    padding: 10px;
    color: black;
    background-color: #FFDC10;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}
  
.product-cards-slider .card button:hover {
    opacity: 0.5;
}