* {
    padding: 0;
    margin: 0;
    box-sizing: border;
}

body {
    background-color: #f3f6fd;
    font-size: 13px;
    font-weight: bold;
    color: rgb(189, 196, 203);
    font-family: 'Poppins', sans-serif;
}