.booking_type input[type="radio"] {
    display: none;
}
.booking_type input[type="checkbox"]{
    display: none;
}
.booking_type input[type="label"]{
    display: none;
}
button{
    display: none;
}
.booking_type span {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 3px;
    color: black;
}

.booking_type input[type="radio"]:checked+span {
    background-color:black;
    color: white;
}

.booking_type input[type="checkbox"]:checked+span {
    background-color: black;
    color: white;
}
button{
    display: inline-block;
    padding: 3px;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 1px;
    color: black;
}
a{
    text-decoration: none;
    text-align: none;
    color: black;
}
