.footer {
    background-color: #06070b;
}

.footer-card {
    padding: 2% 7%;
    color: #646771;
    background-color: #06070b;
}

.footer-card-text {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-card-text>li {
    padding: 4px;
}

.center-image {
    display: flex;
    justify-content: center;
    width: 100%;
}

.social {
    display: flex;
    justify-content: space-around;
}

.social>i {
    padding: 1%;
    font-size: 1.5rem;
}

.social>i:hover {
    color: #ff1e56;
    cursor: pointer;
}

.btn_footer:hover a {
    color: #06070b !important;
}

.app-cash__item>i:hover {
    color: #ff1e56;
    cursor: pointer;
}

.policy>div {
    padding: 4px;
}

.footer-heading {
    color: white;
    font-size: 18px;
    margin-top: 8px;
}

.divider {
    border-top: 2px solid rgba(189, 196, 203, 0.5);
}

.app-cash__list {
    display: flex;
    justify-content: flex-start;
}

.app-cash__item+.app-cash__item {
    margin: 0 12px;
}

.try_booking {
    display: flex;
    flex-direction: column;
}

.btn_footer {
    margin-top: 25px;
    margin-left: -25px;
}

.me-3 {
    font-size: 15px;
    margin-left: -20px;
}

.me-3:hover {
    animation-name: color;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes color {
    0% {
        color: #766c24;
    }
    50% {
        color: #ff1e56;
    }
    75% {
        color: #dc4c5a;
    }
    100% {
        color: #f7ff56;
    }
}

@media only screen and (max-width: 767px) {
    .heading {
        margin-top: 20px;
        text-align: center;
    }
    .app-cash__list {
        justify-content: center;
    }
    ul>li {
        text-align: center;
    }
    .me-3 {
        font-size: 15px;
        margin-left: 18px;
    }
    .btn {
        margin-left: 0;
    }
    .card-text {
        text-align: center;
    }
}