.typeProduct input[type="radio"] {
    display: none;
}

.typeProduct span {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    border: 2px solid blue;
    border-radius: 3px;
    color: blue;
}

.typeProduct input[type="radio"]:checked+span {
    background-color: blue;
    color: black;
}