<link rel="stylesheet" href="/css/footer.css">

<div class="footer">
    <div class="container-fluid">
        <div class="card">
            <div class="row mb-4">
                <div class="col-lg-4 col-sm-12 col-xs-12">
                    <div class="footer-text pull-left">
                        <div class="d-flex">
                            <h1 class="font-weight-bold mr-2 center-image ">
                                <img src="/images/logo.jpg" alt="UIT'S BARBER LOGO" style="width:300px; height: 200px;">
                            </h1>
                        </div>
                        <p class="footer-card-text">Chuyên tạo kiểu tóc nam, đặc biệt là nam UIT. Đội ngũ nhân viên
                            chuyên nghiệp, năng động và nhiệt huyết.</p>
                        <p class="footer-card-text">UIT's Barber - luôn đặt Uy tín của Salon - Chất lượng Của khách hàng
                            và phát triển thương hiệu lên hàng đầu.</p>
                        <p class="footer-card-text" style="font-size:16px;color:#EDEEF5;font-family:
                                'Titillium Web', sans-serif;"> <i class="fas fa-map-marker-alt"
                                style="margin-right: 8px;"></i> Địa chỉ: Khu phố 6, Linh Trung, Thủ Đức, TP.Hồ CHí Minh.
                        </p>

                        <div class="social mt-2 mb-3">
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fas fa-phone-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-0 col-xs-0 mb-2"></div>
                <div class="col-lg-2 col-sm-4 col-xs-4">
                    <h5 class="heading">THANH TOÁN</h5>
                    <div class="app-cash__list">
                        <div class="app-cash__item"><i class="fab fa-cc-visa" style="font-size:3em;"></i> </div>
                        <div class="app-cash__item"><i class="fab fa-cc-mastercard" style="font-size:3em;"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-4">
                    <h5 class="heading">GIỜ PHỤC VỤ</h5>
                    <ul class="footer-card-text ">
                        <li>T2 - T6 (8h30 - 20h30)</li>
                        <li>T7 - CN (7h30 - 23h30)</li> <br> <br>
                        <li class="d-flex justify-content-center
                                align-items-center try_booking">
                            <span class="me-3">Trải nghiệm ngay thôi</span>
                            <button type="button" class="btn
                                    btn-outline-light btn-rounded">
                                <strong>Đặt lịch!</strong>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-4">
                    <h5 class="heading">CAM KẾT</h5>
                    <ul class="footer-card-text">
                        <li>Đẳng cấp khác biệt đó là điều mà bạn cảm thấy thoả mái, hài lòng khi đến với UIT's Barber.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="divider mb-4"> </div>
            <div class="footer__bottom-text" style="font-size:14px;
                    text-align:center;">
                <p><i class="fa fa-copyright"></i> Copyright 2021</p>
            </div>
        </div>
    </div>
</div>