<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
<link rel="stylesheet" href="/css/about.css">
<div class="container">
    <div class="row_1">
        <div class="image-area">
            <div class="img-wrapper">
                <img src="/images/about/NguyenMinhNhut.jpg" alt="Nguyen Minh Nhut">
                <h2>Nguyễn Minh Nhựt</h2>
                <ul>
                    <li><a href=""><i class="fab fa-github"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-instagram"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row_2">
        <div class="image-area">
            <div class="img-wrapper">
                <img src="/images/about/PhanTung.jpg" alt="">
                <h2>Phan Tung</h2>
                <ul>
                    <li><a href=""><i class="fab fa-github"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-instagram"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="image-area">
            <div class="img-wrapper">
                <img src="/images/about/HuynhThiMyDuyen.jpg" alt="">
                <h2>Huỳnh Thị Mỹ Duyên</h2>
                <ul>
                    <li><a href=""><i class="fab fa-github"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-instagram"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="image-area">
            <div class="img-wrapper">
                <img src="/images/about/NguyenThuaAnThai.jpg" alt="">
                <h2>Nguyen Thừa An Thái</h2>
                <ul>
                    <li><a href=""><i class="fab fa-github"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-instagram"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row_2">
        <div class="image-area">
            <div class="img-wrapper">
                <img src="/images/about/HuynhKimPhat.jpg" alt="">
                <h2>Huynh Kim Phat</h2>
                <ul>
                    <li><a href=""><i class="fab fa-github"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-instagram"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="image-area">
            <div class="img-wrapper">
                <img src="/images/about/LuongTuongQuy.jpg" alt="">
                <h2>Lương Tường Quy</h2>
                <ul>
                    <li><a href=""><i class="fab fa-github"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-instagram"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="image-area">
            <div class="img-wrapper">
                <img src="/images/about/LeDuyHoang.jpg" alt="">
                <h2>Lê Duy Hoàng</h2>
                <ul>
                    <li><a href=""><i class="fab fa-github"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-instagram"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row_2">
        <div class="image-area">
            <div class="img-wrapper">
                <img src="/images/about/PhanLeXuanTruong.jpg" alt="">
                <h2>Phan Lê Xuân Trường</h2>
                <ul>
                    <li><a href=""><i class="fab fa-github"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-instagram"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="image-area">
            <div class="img-wrapper">
                <img src="/images/about/TranThiThuOanh.jpg" alt="">
                <h2>Trần Thị Thu Oanh</h2>
                <ul>
                    <li><a href=""><i class="fab fa-github"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-instagram"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="image-area">
            <div class="img-wrapper">
                <img src="/images/about/NguyenDinhSang.jpg" alt="">
                <h2>Nguyễn Đình Sang</h2>
                <ul>
                    <li><a href=""><i class="fab fa-github"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-instagram"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>