<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
    crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" />
<link rel="stylesheet" href="/css/home.css">
<div class="Carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/home/slider/slider_0.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="/images/home/slider/slider_1.jpg" class="d-block w-100" alt="active">
            </div>
            <div class="carousel-item">
                <img src="/images/home/slider/slider_2.jpg" class="d-block w-100" alt="">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

{{!-- Body 1 --}}
<div class="container">
    <div class="service_head">
        <div class="title_service txt-center" role="presentation">DỊCH VỤ UIT BARBER</div>
        <div class="subTitle txt-center">Thư giãn 30 phút và bạn sẽ tỏa sáng</div>
    </div>

    <div class="service_banner">
        <div class="custom_banner">
            <div>
                <a href="" target="_blank" rel="noopener noreferrer">
                    <img src="/images/home/service/service_banner.jpg" alt="" style="width: 100%;">
                </a>
            </div>
        </div>
    </div>
    {{!-- Service --}}
    <div class="flex-container">
        <div class="service_item">
            <img src="/images/home/service/service_1.jpg" alt="">
            <span>
                <h5 class="card-title">Cắt gội massage</h5>
                <h6 class="text-muted">Bảng giá hấp dẫn</h6>
            </span>
        </div>
        <div class="service_item">
            <img src="/images/home/service/service_2.jpg" alt="">
            <span>
                <h5 class="card-title">Uốn</h5>
                <h6 class="text-muted">Chỉ từ 234K</h6>
            </span>
        </div>
        <div class="service_item">
            <img src="/images/home/service/service_1.jpg" alt="">
            <span>
                <h5 class="card-title">Nhuộm</h5>
                <h6 class="text-muted">Chỉ từ 162K</h6>
            </span>
        </div>
        <div class="service_item">
            <img src="/images/home/service/service_4.jpg" alt="">
            <span>
                <h5 class="card-title">Dịch vụ khác</h5>
                <h6 class="text-muted">Vô cùng hấp dẫn</h6>
            </span>
        </div>
    </div>
</div>
{{!-- Body 2 --}}
<div class="product-cards-slider">
    <div class="container product_head">
        <div class="title_product txt-center" role="presentation">UIT BARBER STORE</div>
        <div class="subTitle txt-center">Số 1 về mỹ phẩm nam</div>
    </div>

    <div class="product_banner">
        <div class="container">
            <div class="custom_banner">
                <div>
                    <a href="" target="_blank" rel="noopener noreferrer">
                        <img src="/images/home/product/banner_product.jpg" style="width: 100%;">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="product_service">
        <div class="item-after-banner-product">
            <div class="service-product-item">
                <img src="/images/home/product/Doi_tra.svg" alt="">
                <span>Đổi trả miễn phí</span>
            </div>
            <div class="service-product-item">
                <img src="/images/home/product/Chinh_hang.svg" alt="">
                <span>Chính hãng 100%</span>
            </div>
            <div class="service-product-item">
                <img src="/images/home/product/giao_hang.svg" alt="">
                <span>Giao hàng toàn quốc</span>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="product_title">
            <h6>
                Top sản phẩm nổi bật
            </h6>
        </div>

        <div class="row slider_product">
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="card">
                    <div class="card-body">
                        <div class="image">
                            <img src="/images/home/product/product_card0.jpg">
                        </div>
                        <div class="content">
                            <h3>Gôm Xịt Tóc Lady Killer - Thách thức nón bảo hiểm</h3>
                            <h2 class="price">130,000₫</h2>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="buy"><button>Mua ngay</button></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="image">
                            <img src="/images/home/product/product_card1.jpg">
                        </div>
                        <div class="content">
                            <h3>Sáp Kevin Murphy 30g - "Phiên bản cho những chuyến trải nghiệm"</h3>
                            <h2 class="price">290,000₫</h2>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="buy"><button>Mua ngay</button></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="image">
                            <img src="/images/home/product/product_card2.jpg">
                        </div>
                        <div class="content">
                            <h3>SRM Skin&Dr Tràm trà + Combo mặt nạ SNP Sâm dưỡng trắng (5 cái)</h3>
                            <h2 class="price">259,000₫</h2>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="buy"><button>Mua ngay</button></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="image">
                            <img src="/images/home/product/product_card3.jpg">
                        </div>
                        <div class="content">
                            <h3>Glanzen Box Tạo Kiểu Basic 1</h3>
                            <h2 class="price">399,000₫</h2>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="buy"><button>Mua ngay</button></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="image">
                            <img src="/images/home/product/product_card3.jpg">
                        </div>
                        <div class="content">
                            <h3>SRM Skin& Dr Tràm trà + Combo mặt nạ SNP Sâm dưỡng trắng (5 cái)</h3>
                            <h2 class="price">259,000₫</h2>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="buy"><button>Mua ngay</button></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="image">
                            <img src="/images/home/product/product_card3.jpg">
                        </div>
                        <div class="content">
                            <h3>Glanzen Box Tạo Kiểu Basic 1</h3>
                            <h2 class="price">399,000₫</h2>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="buy"><button>Mua ngay</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="image">
                            <img src="/images/home/product/product_card3.jpg">
                        </div>
                        <div class="content">
                            <h3>Glanzen Box Tạo Kiểu Basic 1</h3>
                            <h2 class="price">399,000₫</h2>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="buy"><button>Mua ngay</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="image">
                            <img src="/images/home/product/product_card3.jpg">
                        </div>
                        <div class="content">
                            <h3>Glanzen Box Tạo Kiểu Basic 1</h3>
                            <h2 class="price">399,000₫</h2>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="buy"><button>Mua ngay</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
    crossorigin="anonymous"></script>
<script type="text/javascript">
    $('.slider_product').slick({
        dots: true,
        infinite: true,
        speed: 2,
        slidesToShow: 4,
        slidesToScroll: 4,
        responsive: [{
            breakpoint: 1024,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
                infinite: true,
                dots: true
            }
        }, {
            breakpoint: 768,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 2
            }
        }, {
            breakpoint: 320,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1
            }
        },]
    });
</script>