<form method="POST" action="/booking/AddBooking" class="form">
    <div class="mb-3">
        <label for="date" class="form-label">Day</label>
        <input id="date" name="date" type="date" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>