<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Mã đặt lịch</th>
            <th scope="col">Ngày</th>
            <th scope="col">Khung giờ</th>
            <th scope="col">Khách hàng</th>
            <th scope="col">Nhân viên</th>
            <th scope="col">Dịch vụ</th>
            <th scope="col">Mô tả dịch vụ</th>
            <th scope="col">Giá</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    {{#each booking}}
    <tbody>
        <tr>
            <th scope="row">{{0}}</th>
            <td>{{1}}</td>
            <td>{{26}}</td>
            <td>{{7}} {{8}}</td>
            <td>{{16}} {{17}}</td>
            <td>{{28}}</td>
            <td>{{30}}</td>
            <td>{{29}}</td>
            <td>Update</td>
            <td>
                <a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteRecord"
                    data-id={{0}}>Delete
                </a>
            </td>
        </tr>
    </tbody>

    {{/each}}

</table>

{{!-- Delete Model --}}
<div class="modal fade" id="deleteRecord" tabindex="-1" aria-labelledby="deleteRecordLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteRecordLabel">Delete booking</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to delete booking?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-warning" id="btn-delete-booking">Yes</button>
            </div>
        </div>
    </div>
</div>
{{!-- Delete hidden Form --}}
<form name="delete-booking-form" method="POST" action=""></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let bookingId;
        let deleteForm = document.forms['delete-booking-form'];
        let btnDeleteBooking = document.getElementById('btn-delete-booking');

        // When dialog confirm clicked
        $('#deleteRecord').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            bookingId = button.data('id');
        });

        // When delete button clicked
        btnDeleteBooking.onclick = function () {
            deleteForm.action = '/booking/' + bookingId; + '?_method=DELETE';
            deleteForm.submit();
        };
    })
</script>