<div class="mt-4">
    <h3>Edit Booking</h3>
    {{#each booking}}
    <form class="mt-4" method="POST" action="/booking/{{0}}?_method=PUT">
        <div class="form-group">
            <label for="date">Date : {{1}}</label>
        </div>
        <div class="form-group">
            <label for="time">Time</label>
            <input type="text" class="form-control" value="Good Bye" id="level" name="level">

        </div>
        <div class="form-group">
            <label for="level">Level</label>
            <input type="text" class="form-control" value="Good Bye" id="level" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    {{/each}}

</div>