<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Mã loại dịch vụ</th>
            <th scope="col">Tên loại dịch vụ</th>
        </tr>
    </thead>
    {{#each serviceType}}
    <tbody>
        <tr>
            <th scope="row">{{MALDV}}</th>
            <td>{{TENLOAIDICHVU}}</td>
        </tr>
    </tbody>

    {{/each}}

</table>