@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
body {
    background-color: #f7f6f6
}

.cardForm {
    width: 800px
}

label.radio {
    cursor: pointer;
    width: 100% !important;
    margin-top: 9px
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100%
}

label.radio span {
    padding: 7px 14px;
    border: 1px solid #D32F2F;
    display: inline-block;
    color: #D32F2F;
    border-radius: 3px;
    box-shadow: 3px 5px 8px 2px #e9ecef;
    width: 100%;
    align-items: center
}

label.radio input:checked+span {
    border-color: #D32F2F;
    background-color: #D32F2F;
    color: #fff
}

.area {
    resize: none
}

.area:focus {
    box-shadow: none;
    border-color: #D32F2F !important
}

.submit-button,
.submit-button:active,
.submit-button:visited,
.submit-button:focus {
    background-color: #198754 !important;
    border-color: #198754 !important;
    color: #fff !important;
    box-shadow: none;
    text-transform: uppercase;
    padding-left: 35px;
    padding-right: 35px
}

.submit-button:hover {
    background-color: #198754 !important;
    border-color: #198754 !important
}

/* rating */
.text-white {
    color: #fff!important;
    padding: 317px;
}
.rate {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        .text-white {padding: 92px;}
    }

    @media only screen and (max-width: 360px) {
        .text-white {padding: 44px;}
    }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .text-white {padding: 256px;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .text-white {padding: 256px;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .text-white {padding: 317px;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .text-white {padding: 317px;}

