<link rel="stylesheet" href="/css/product.css">

<div class="mt-4 container">
    <h3>ADD SERVICE</h3>
    <form class="mt-4 " method="POST" action="/service/?_method=PUT">
        <div>
            <label for="name">Nhập tên dịch vụ: </label><br>
            <input type="text" name="name" id="name" width="full"><br>
        </div>
        <div>
            <label for="price">Nhập giá tiền: </label><br>
            <input type="number" name="price" id="price" placeholder=">20000" min="20000" max="500000" step="1000"><br>
        </div>
        <div>
            <label for="describe">Mô tả dịch vụ: </label><br>
            <textarea name="describe" id="describe" cols="100" rows="10"></textarea><br>
        </div>
        <div>
            <label for="img">Ảnh của dịch vu: </label>
            <input type="file" id="img" name="img">
        </div>
        <div class="form-group" id="typeServiceChosen">
            <label for="typeProduct">Loại sản phẩm: </label>
            <p class="typeProduct">
                {{#each serviceType}}
                <label><input type="radio" name="typeService" value="{{MALDV}}"
                        id="typeService"><span>{{TENLOAIDICHVU}}</span></label>
                {{/each}}
            </p>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>