<div class="mt-4 ">
    <h3>ADD PRODUCTYPE</h3>
    <form class="mt-4 " method="POST" action="/productType/?_method=PUT">
        <label for="name">Tên loại sản phẩm</label><br>
        <input type="text" name="name" id="name"><br>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>