<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Mã loại sản phẩm</th>
            <th scope="col">Tên loại sản phẩm</th>
        </tr>
    </thead>
    {{#each productType}}
    <tbody>
        <tr>
            <th scope="row">{{MALSP}}</th>
            <td>{{TENLOAISANPHAM}}</td>


        </tr>
    </tbody>

    {{/each}}

</table>