<a href="">
    {{#each productType}}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="đây là hình {{1}}" style="">
        <div class="card-body">
            <p class="card-text">{{1}}</p>
        </div>
    </div>
    {{/each}}
</a>