<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Họ và tên</th>
            <th scope="col">Mã nhân viên</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Ngày vào làm</th>
            <th scope="col">Loại nhân viên</th>
            <th scope="col">Email</th>
            <th scope="col">Mã lương</th>
            <th scope="col">Lương cơ bản</th>
            <th scope="col">Lương thưởng</th>
            <th scope="col">Lương được nhận</th>
            <th scope="col">Ngày nhận lương</th>
        </tr>
    </thead>
    {{#each employee}}
    <tbody>
        <tr>
            <th scope="row">{{1}} {{2}}</th>
            <td>{{0}}</td>
            <td>{{3}}</td>
            <td>{{4}}</td>
            <td>{{5}}</td>
            <td>{{6}}</td>
            <td>{{7}}</td>
            <td>{{8}}</td>
            <td>{{11}}</td>
            <td>{{15}}</td>
            <td>{{17}}</td>
            <td>{{22}}</td>
            <td>{{23}}</td>
            <td>{{20}}</td>
        </tr>
    </tbody>
    {{/each}}
</table>