<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Họ và tên</th>
            <th scope="col">Mã nhân viên</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Ngày vào làm</th>
            <th scope="col">Loại nhân viên</th>
        </tr>
    </thead>
    {{#each employee}}
    <tbody>
        <tr>
            <th scope="row">{{1}} {{2}}</th>
            <td>{{0}}</td>
            <td>{{3}}</td>
            <td>{{4}}</td>
            <td>{{7}}</td>
            <td>{{8}}</td>
        </tr>
    </tbody>
    {{/each}}
</table>