*{
    padding:0;
    margin:0;
    box-sizing: border;
}


body {
    background-color: #f3f6fd;
    font-size: 13px;
    font-weight: bold;
    color: rgb(189, 196, 203);
    font-family: 'Poppins', sans-serif;
}
.footer{
    background-color: #06070B;

}
.card {
    padding: 2% 7%;
    color: #646771;
    background-color: #06070B;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul>li {
    padding: 4px
}

hr {
    border-width: 3px
}
.social{
    display:flex;
}
.social>i {
    padding: 1%;
    font-size: 1.5rem;
}

.social>i:hover {
    color: #FF1E56;
    cursor: pointer;
}

.app-cash__item>i:hover {
    color: #FF1E56;
    cursor: pointer;
}

.policy>div {
    padding: 4px
}

.heading {
    color:#D49D42;
    font-size:18px;
}

.divider {
    border-top: 2px solid rgba(189, 196, 203, 0.5);
}

.app-cash__list {
    display: flex;
    justify-content: flex-start;
}
.app-cash__item + .app-cash__item{
    margin: 0 12px;
}
.try_booking{
    display: flex;
    flex-direction: column;
}

.btn{
    margin-top: 25px;
    margin-left: -25px;
}

.me-3{
    font-size: 15px;
    margin-left: -20px;
}

.me-3:hover{
animation-name: color;
animation-duration:1s ;
animation-iteration-count: infinite;
}

@keyframes color{
    0%{color: #766C24;}
    50%{color:  #FF1E56;}
    75%{color: #DC4C5A;}
    100%{color:  #F7FF56}
}

@media only screen and (max-width: 767px){
    .heading {
       margin-top: 20px;
       text-align: center;
    }
    .app-cash__list{
        justify-content: center;
    }
    ul>li{
        text-align: center;
        
    }
    .me-3 {
        font-size: 15px;
        margin-left: 18px;
    }.btn{
        margin-left: 0;
    }
    .card-text{
        text-align: center;
    }
    .social>i{
        margin-left: 50px;
    }
}
